Basic python programming
Python is a popular programming language created by Guido van Rosssum in the year 1991. It is used for web development, Software Development , Mathematics and System Scripting

In [4]:
print("Welcome to python programming")

Welcome to python programming

In [11]:
# Basic Program
i = int(input("Enter a number:"))
if i>5:
    print("The number is greater than 5 and the user input number is",i)
    print("Hi programmer !!")
else:
    print("The number is smaller than 5 and the user input number is",i)

Enter a number: 6

The number is greater than 5 and the user input number is 6
Hi programmer !!

In [13]:
# this is a python comment
"""
This is also a python comment coloumn 
which we use by this symbol
"""
print(' Hello world')

 Hello world

In [117]:
# python variables
x=5
y="Test Python"
X="This is capital X"
print(x)
print(X)
print(y)
print(str(x) +" "+ y)
print(x,y)

5
This is capital X
Test Python
5 Test Python
5 Test Python

In [29]:
# assign multiple values at once
x,y,z ="INDIA","AMERICA","JAPAN"
print(x)
print(y)
print(z)
print(x,y,z)

a=b=c='Apple'
print(c)

INDIA
AMERICA
JAPAN
INDIA AMERICA JAPAN
Apple

In [33]:
#unpack a collection 
fruits =["Apple","Mango",'Grapes']
l,m,n=fruits
print(n)

Grapes

In [39]:
x="Welcome to Python"
def function():
    print(x+" Programming")
function()
print(x)

Welcome to Python Programming
Welcome to Python

In [40]:
x="Welcome to Python"
def function():
    x="This is python"
    print(x+" Programming")
function()
print(x)

This is python Programming
Welcome to Python

In [42]:
x="Welcome to Python"
def function():
    global x
    x="This is Python"
    print(x+" Programming")
function()
print(x)

This is Python Programming
This is Python

In [49]:
x=5
print(type(x))
y="Ganesh"
print(type(y))
z=4.5
print(type(z))

<class 'int'>
<class 'str'>
<class 'float'>

In [60]:
# to generate random number in python
import random
a= random.randint(1,10)
b= random.randrange(1,10,2)
print(a)
print(b)

10
1

In [76]:
# String vs Array

a="Hello,world!"
print(a)
print(a[1])
print(a[2:5])
print(a[-5:-2])
for i in a:
    print(i)

Hello,world!
e
llo
orl
H
e
l
l
o
,
w
o
r
l
d
!

In [74]:
# check string in a corpus
a="This is example sentence"
if "sen" in a:
    print('Yes')
else:
    print("no")

print('sn' not in a)

Yes
True

In [81]:
#modify string
a="Welcome Guest! "
print(a.upper())
print(a.lower())
print(a.strip())
print(a.replace("W","J"))

WELCOME GUEST!
welcome guest!
Welcome Guest!
Jelcome Guest!

In [105]:
# format strings
age =36
name="John"
txt2 ="My name is John and my age is "+ str(age)
txt ="My name is John and my age is {}"
txt1 ="My name is {1} and my age is {0}"
print(txt.format(age))
print(txt1.format(age,name))
print(txt2)

My name is John and my age is 36
My name is John and my age is 36
My name is John and my age is 36

In [107]:
# boolean statements check
print(10>9)
print(10==9)
print(10<9)

True
False
False

Lists in Python

In [142]:
my_list=["apple","banana",'grapes']
print(my_list)
for i in my_list:
    print(i)
print("Accesss 2nd element in list:",my_list[1])
my_list[1]="cherry"
print(my_list)
print(len(my_list))
# insert element
my_list.insert(1,"ginger")
my_list.append('onion')
print(my_list)
#list constructor
thislist=list((1,2,3))
print(thislist)
print(my_list+thislist)
my_list.extend(thislist)
print(my_list)
my_list.remove("onion")
my_list.pop(2)
print(my_list)

['apple', 'banana', 'grapes']
apple
banana
grapes
Accesss 2nd element in list: banana
['apple', 'cherry', 'grapes']
3
['apple', 'ginger', 'cherry', 'grapes', 'onion']
[1, 2, 3]
['apple', 'ginger', 'cherry', 'grapes', 'onion', 1, 2, 3]
['apple', 'ginger', 'cherry', 'grapes', 'onion', 1, 2, 3]
['apple', 'ginger', 'grapes', 1, 2, 3]

In [143]:
del thislist

In [146]:
for i in range(len(my_list)):
    print(my_list[i])

apple
ginger
grapes
1
2
3

In [147]:
i=0
while i<len(my_list):
    print(my_list[i])
    i=i+1

apple
ginger
grapes
1
2
3

In [148]:
[print(x) for x in my_list]

apple
ginger
grapes
1
2
3

[None, None, None, None, None, None]

In [150]:
my_list1=["ab","bc",'ca']
new_list=[]
for x in my_list1:
    if 'a' in x:
        new_list.append(x)
print(new_list)

['ab', 'ca']

In [157]:
a=[ x for x in my_list1 if 'a' in x ]
print(a)
my_list1.sort(reverse=True)
print(my_list1)

['ab', 'ca']
['ca', 'bc', 'ab']

Tuple in Python

In [164]:
this_tuple=("apple",'banana',"kiwi",'apple')
print(this_tuple)
this_tup=("apple",)
print(this_tup)
print(type(this_tup))

# tuple constructor

tuple1=tuple((1,2,3,4))
print(tuple1)
print(tuple1[1])
if "apple" in this_tuple:
    print('Apple is present')

('apple', 'banana', 'kiwi', 'apple')
('apple',)
<class 'tuple'>
(1, 2, 3, 4)
2
Apple is present

In [165]:
# change elemt in tuple
a=list(this_tuple)
a[1]="kiwi"
this_tuple= tuple(a)
print(this_tuple)

('apple', 'kiwi', 'kiwi', 'apple')

In [166]:
fruits=("apple",'banana','cherry','rashberry')
a,b,*c=fruits
print(c)

['cherry', 'rashberry']

In [167]:
for i in range(len(fruits)):
    print(fruits[i])

apple
banana
cherry
rashberry

In [168]:
i=0
while i < len(fruits):
    print(fruits[i])
    i=i+1

apple
banana
cherry
rashberry

Set in python

In [171]:
this_set={"apple",'banana',"kiwi","apple",1,2}
print(this_set)
print(len(this_set))

{1, 2, 'apple', 'kiwi', 'banana'}
5

In [172]:
# set constructor
thisset=set(("apple","banana","kiwi"))
print(thisset)

{'apple', 'banana', 'kiwi'}

In [177]:
for x in thisset:
    print(x)
print("banana" in thisset)
tropical = {1,2,3,"apple"}
thisset.update(tropical)
print(thisset)

1
2
3
False
{1, 2, 3, 'apple'}

In [182]:
thisset.intersection_update(tropical)
print(thisset)
thisset.intersection(tropical)
print(thisset)

set()
set()

In [183]:
thisset.symmetric_difference_update(tropical)
print(thisset)

{'apple', 1, 2, 3}

In [184]:
thisset.symmetric_difference(tropical)
print(thisset)

{'apple', 1, 2, 3}

Dictionaries in Python

In [191]:
this_dict = {
    "brand":"Ford",
    "color":["red","white",'yellow'],
    "year":2020,
    "year":2021
}
print(this_dict)

{'brand': 'Ford', 'color': ['red', 'white', 'yellow'], 'year': 2021}

In [192]:
print(this_dict['brand'])

Ford

In [200]:
this_dict['brand'] ="BMW"
print(this_dict)
x = this_dict.get("year")
print(x)
y=this_dict.keys()
print(y)
z=this_dict.values()
print(z)

{'brand': 'BMW', 'color': ['red', 'white', 'yellow'], 'year': 2021}
2021
dict_keys(['brand', 'color', 'year'])
dict_values(['BMW', ['red', 'white', 'yellow'], 2021])

In [198]:
# dict constructor
this_dic =dict(name="john",age=23,country="india")
this_dic

{'name': 'john', 'age': 23, 'country': 'india'}

In [201]:
this_dict.update({"age":25})
print(this_dict)

{'brand': 'BMW', 'color': ['red', 'white', 'yellow'], 'year': 2021, 'age': 25}

In [208]:
for x in this_dict:
    print(x)
for y in this_dict:
    print(this_dict[y])
for z in this_dict.values():
    print(z)

brand
color
year
age
BMW
['red', 'white', 'yellow']
2021
25
BMW
['red', 'white', 'yellow']
2021
25

In [209]:
for x ,y in this_dict.items():
    print(x,y)

brand BMW
color ['red', 'white', 'yellow']
year 2021
age 25

In [211]:
my_family ={
    "child1":this_dict,
    'child2':this_dic
}
print(my_family)

{'child1': {'brand': 'BMW', 'color': ['red', 'white', 'yellow'], 'year': 2021, 'age': 25}, 'child2': {'name': 'john', 'age': 23, 'country': 'india'}}