In [1]:
print('hello')

hello

In [11]:
#if loop in python
a=int(input('Enter a input:'))
b=int(input('Enter b input:'))
if b>a:
    print("b is greater")
elif b<a:
    print("b is smaller")
else:
    print("both are equal")

Enter a input: 4
Enter b input: 5

b is greater

In [12]:
a=10
b=5
print("A") if a>b else print('B')

A

In [21]:
a=10
b=5
c=7
if a < b or a > c:
    print("A is big")
else:
    print("smaller")

A is big

In [22]:
a=200
b=33
if b>a:
    pass
print("Hello!")

Hello!

In [25]:
#for loop

fruits =['apple','banana','kiwi']
for i in fruits:
    print(i)
for i in range(len(fruits)):
    print(fruits[i])
[print(i) for i in fruits]

apple
banana
kiwi
apple
banana
kiwi
apple
banana
kiwi

[None, None, None]

In [31]:

for x in fruits:
    print(x)
    if x=="banana":
        break

apple
banana

In [36]:
for x in range(1,6,2):
    print(x)
import random 
x=random.randint(1,10)
y=random.randrange(1,10,3)
print(x,y)

1
3
5
10 1

In [42]:
# creating a function
x="Pratcice"
def func():
    print("Hello world")
    print(x)
func()

Hello world
Pratcice

In [47]:
fname='Hari'
def my_func(fname):
    print(fname+' H')
my_func(fname)
my_func('Shakthi')

Hari H
Shakthi H

In [52]:
def my_func(*kids):
    print('the youngest child is '+kids[0])
my_func("email","chat")

the youngest child is email

In [53]:
def my_func(*kids):
    print('the child is '+kids[0])
my_func('ganesh','shakthi')

the child is ganesh

In [56]:
def my_func(first,second="shakthi"):
    print(first,second)
my_func(first="Ganesh")

Ganesh shakthi

In [62]:
def my_func(food):
    for x in food:
        print(x)
food={"grapes","apple"}
print(type(food))
my_func(food)

<class 'set'>
grapes
apple

In [63]:
def my_func(x):
    return 5*x
print(my_func(3))

15

In [65]:
def my_func():
    pass

In [1]:
# recursion in python
def tri_recursion(k):
    if k>0:
        result = k+tri_recursion(k-1)
        print(result)
    else:
        result =0
    return result
k=5
tri_recursion(k)

1
3
6
10
15

15

In [5]:
#lambda evaluation
x=lambda x:x+10
print(x(10))
x=lambda x,y:x*y
print(x(10,5))

20
50

In [11]:
def my_func(x):
    return lambda a:a+x
a=my_func(10)
print(a(5))

15

In [14]:
# array

cars =['ford','bmw','volvo']
print(cars)

['ford', 'bmw', 'volvo']

In [15]:
x=len(cars)
print(x)

3

In [17]:
cars.append("hyundai")
print(cars)

['ford', 'bmw', 'volvo', 'hyundai', 'hyundai']

In [19]:
cars.pop()
print(cars)
cars.remove("volvo")
print(cars)

['ford', 'bmw', 'volvo']
['ford', 'bmw']

In [29]:
class Myclass:
    x=5
a=Myclass()
print(a.x)

5

In [46]:
class Myclass:
    def __init__(self,fname,lname):
        self.fname =fname
        self.lname =lname
    def my_func(self):
        print(self.fname)
class Student(Myclass):
    def __init__(self,fname,lname):
        super().__init__(fname,lname)
        
a=Student("john","vijay")
a.my_func()

john

In [47]:
class Myclass:
    def __init__(self,fname,lname):
        self.fname=fname
        self.lname=lname
    def my_func(self):
        print(self.fname)
a=Myclass("ganesh","h")
a.my_func()

ganesh

In [50]:
#iterators
my_tuple=(1,2,3)
my_it =iter(my_tuple)
print(next(my_it))
print(next(my_it))

1
2

In [52]:
import datetime
x=datetime.datetime.now()
print(x)
print(x.year)

2023-12-20 00:51:08.079400
2023

In [54]:
x=min(1,2,3)
y=max(1,2,3)
print(x,y)
z=pow(2,3)
print(z)

1 3
8

In [56]:
import math
a=math.sqrt(64)
print(int(a))

8

In [64]:
# json library use
import json
x='{"name":"Ganesh","Age":24}'
y=json.loads(x)
print(y)
a={"name":"Ganesh","Age":24}
b=json.dumps(a)
print(b)

{'name': 'Ganesh', 'Age': 24}
{"name": "Ganesh", "Age": 24}

In [1]:
import camelcase
c=camelcase.CamelCase()
txt="hello world"
print(c.hump(txt))

Hello World

In [2]:
try:
    print(x)
except NameError:
    print("x is not defined")
except Exception as e:
    print(e)

x is not defined