In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("titanic.csv",usecols=['Sex','Age','Pclass','Fare','Survived'])
df.head(10)

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500
5         0       3    male   NaN   8.4583
6         0       1    male  54.0  51.8625
7         0       3    male   2.0  21.0750
8         1       3  female  27.0  11.1333
9         1       2  female  14.0  30.0708

In [3]:
df['Sex_numeric']=[1 if i=='male' else 0 for i in df['Sex']]
df.head(5)

   Survived  Pclass     Sex   Age     Fare  Sex_numeric
0         0       3    male  22.0   7.2500            1
1         1       1  female  38.0  71.2833            0
2         1       3  female  26.0   7.9250            0
3         1       1  female  35.0  53.1000            0
4         0       3    male  35.0   8.0500            1

In [5]:
df.Age = df.Age.fillna(df.Age.mean())

In [6]:
df.drop(['Sex'],axis="columns")

     Survived  Pclass        Age     Fare  Sex_numeric
0           0       3  22.000000   7.2500            1
1           1       1  38.000000  71.2833            0
2           1       3  26.000000   7.9250            0
3           1       1  35.000000  53.1000            0
4           0       3  35.000000   8.0500            1
..        ...     ...        ...      ...          ...
886         0       2  27.000000  13.0000            1
887         1       1  19.000000  30.0000            0
888         0       3  29.699118  23.4500            0
889         1       1  26.000000  30.0000            1
890         0       3  32.000000   7.7500            1

[891 rows x 5 columns]

In [7]:
df.isnull().sum()

Survived       0
Pclass         0
Sex            0
Age            0
Fare           0
Sex_numeric    0
dtype: int64

In [8]:
y=df.Survived
X=df.drop(['Survived'],axis="columns")

In [9]:

X=df.drop(['Sex'],axis="columns")

In [10]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
dtree=DecisionTreeClassifier()

In [11]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [12]:
dtree.fit(X_train,y_train)

DecisionTreeClassifier()

In [13]:
dtree.score(X_train,y_train)

1.0